body {
  color: rgba(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  background: #3b577c;
}

h1 {
  text-align: center;
  margin: 40px 0px 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}
ul {
  list-style: none;
}
li::first-letter {
  text-transform: capitalize;
}
header {
  padding: 0;
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 900;
}
footer {
  text-align: center;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.summer {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/046/120/original/summer.jpg?1663063490");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #464646;
}
.autumn {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/046/118/original/autumn.jpg?1663063469");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #464646;
}
.winter {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/046/262/original/aaron-burden-ejUU3U7Rlns-unsplash.jpg?1663255208");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #464646;
}
.spring {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/046/261/original/sergey-shmidt-koy6FlCCy5s-unsplash.jpg?1663255187");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #464646;
}
.weather-app {
  margin: 40px auto 160px;
  max-width: 800px;
  min-height: 80%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 15px;
}
.fa-solid {
  font-size: 36px;
}
.fa-earth-americas {
  font-size: 26px;
}
#submit-button {
  padding: 0 15px;
  color: white;
  opacity: 0.8;
  background-color: transparent;
  text-align: center;
  border: none;
  transition: all 150ms ease-out;
}
#submit-button:hover {
  color: #0a58ca;
  opacity: 0.8;
}
.fa-location-dot {
  transition: all 150ms ease-out;
  color: white;
  opacity: 0.8;
}
.fa-location-dot:hover {
  color: #0a58ca;
  opacity: 0.8;
  cursor: pointer;
}

#temperature {
  font-size: 56px;
}
.units {
  position: relative;
  top: -26px;
}

.weather-forecast {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  background: rgba(105, 105, 105, 0.2);
  border: none;
  border-radius: 15px;
  padding: 10px;
}

.weather-forecast-icon {
  width: 64px;
}
.weather-forecast-temperature-min {
  opacity: 0.8;
}
.try_seasons {
  color: white;
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.season_link {
  color: #fff;
  font-size: 15px;
  transition: all 150ms ease-out;
}
.season_link:hover {
  color: #0a58ca;
}

#source-link {
  color: #fff;
  transition: all 150ms ease-out;
}
#source-link:hover {
  color: #0a58ca;
}
#search-form-input {
  background: rgba(255, 255, 255, 0.9);
}
#icon {
  width: 70px;
  height: 70px;
}
